{extend name="common/layout" /}
 
{block name="body"}
<form class="layui-form">
    <!-- 主体内容 -->
    <div class="wait-body-content">
        <!-- 进出类别 -->
        <div class="layui-form-item">
            <label for="type" class="layui-form-label"><span class="asterisk">*</span>进出类别：</label>
            <div class="layui-input-block">
                <select id="type" name="type" lay-verify="required">
					{foreach $type as $k=>$v}
                    <option value="{$k}">{$v}</option>
					{/foreach}
                </select>
            </div>
        </div>
        <!-- 航班名称 -->
        <div class="layui-form-item">
            <label for="name" class="layui-form-label"><span class="asterisk">*</span>航班名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" autocomplete="off"
                    class="layui-input" lay-verType="tips" lay-verify="required">
            </div>
        </div>
        <!-- 是否显示 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>是否显示：</label>
            <div class="layui-input-block">
                <input type="radio" name="is_show" value="1" title="是" {if 1==1}checked{/if}>
                <input type="radio" name="is_show" value="0" title="否" {if 2==1}checked{/if}>
            </div>
        </div>
    </div>

    <!-- 提交按钮 -->
    <div class="wait-body-footer">
        <a class="layui-layer-btn0" lay-submit lay-filter="addForm">确定</a>
        <a class="layui-layer-btn1" id="closePopupWindow">取消</a>
    </div>
</form>
{/block}

